nav a {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    margin-left: 25px;
    color: #fff;
    font-family: Poppins;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    bottom: 0;
    left: 0;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav {
    margin-top: 22px;
    margin-left: 100px;
}




.ls-page {
    background-color: #FFDB29;
}

.outer-part {
    display: flex;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.349);
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-top: 8%;
    height: 65vh;
}

.scr1 {
    display: flex;
    width: 100%;
    height: 100%;
    /* display: none; */
}


.email,
.password,
.u-name {
    width: 350px;
    margin-top: 15px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    font-family: Poppins;
    font-size: 14px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid #0f1225;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.forgot-password {
    display: block;
    margin-left: 300px;
    margin-top: 10px;
}

.login-scr1 {
    width: 150px;
    margin-left: 150px;
    margin-top: 30px;
    height: 38px;
    border-radius: 15px;
    background: linear-gradient(to right, #44454d, #030b3f);
    color: white;
    font-family: Poppins;
    font-size: 16px;
    box-shadow: 2px 2px 5px #0f1225;
    cursor: pointer;
}

.side-menu-login {
    background-color: #151c41;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width: 900px;
}

.signup-btn-side-menu {
    width: 150px;
    margin-left: 60px;
    height: 38px;
    border-radius: 15px;
    color: black;
    background-color: #fff;
    font-weight: 600;
    font-family: Poppins;
    font-size: 16px;
    box-shadow: 2px 2px 5px #fff;
    cursor: pointer;
}

/* Signup screen design from here */


.scr2 {
    /* display: flex; */
    width: 100%;
    height: 100%;
    display: none;
}

.side-menu-signup {
    background-color: #151c41;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
    width: 1500px;
}

.signup-btn-scr2 {
    width: 150px;
    margin-left: 150px;
    margin-top: 30px;
    height: 38px;
    border-radius: 15px;
    background: linear-gradient(to right, #44454d, #030b3f);
    color: white;
    font-family: Poppins;
    font-size: 16px;
    box-shadow: 2px 2px 5px #0f1225;
    cursor: pointer;
}

.login-btn-side-menu {
    width: 150px;
    margin-left: 60px;
    height: 38px;
    border-radius: 15px;
    color: black;
    background-color: #fff;
    font-weight: 600;
    font-family: Poppins;
    font-size: 16px;
    box-shadow: 2px 2px 5px #fff;
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
}